h1{
color: red;
text-decoration: underline;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
font-style: xx-large;  
text-align: left;  
display: flex;
}
body{
background-image: url(../images/pizzafondodepantalla.jpg);
margin: 0;
padding: 0;
display: flex;
min-height: 100vh;
flex-wrap: wrap;
}
.pquienessomos{
color: black;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: large;
font-style: bolder;
}
header{
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: medium;
font-weight: bolder;
text-align: left;
align-self:flex-start;
background-color: grey;
height: 50 px;
width: 100%;
}
.menu1, .menu2{
width: 100 px;
height: 80 px;
display: flex;
justify-content: space-between;
}
.menu1 img, .menu2 img{
width: 80%;
height: 90%;
border: 1px solid black;
}
.menus {
display: flex;
justify-content: space-between;
}
footer{
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: small;
font-weight: lighter;
text-align: center;
align-self:flex-end;
background-color: grey;
height: 50 px;
width: 100%;
}
.ulnav, .ulfooter{
list-style-type: none;
}
.grid-container{
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: 3, 1fr;
    justify-content: center;
    align-content: center;
}
.grid-item{
    justify-content: center;
    align-self: center;
}